/* Created by: Adam Batiuk
* Created on: Mar 2024
* This file contains the CSS for index.html
*/

.mdl-layout__content {
  padding: 40px;
}

.mdl-layout__header-row {
  justify-content: center;
}

.image {
  width: 200px;
  height: auto;
}